//
//  COLOR styles
//
//  --------------  bg
$bg-main: #1b1b1b;
$additional-1: #323232;
$additional-form: #14111e;
$slots-bg: rgba(#000000, 0.8);

//  --------------  buttons
$main: linear-gradient(93.58deg, #ffd600 0%, #ffbb36 100%);

//  --------------  text
$black: #131313;
$gray1: #c6c6c6;
$additional: #ffd600;

//
//  TEXT styles
//
//  --------------  PC
%blocks {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
%small-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
%regular {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}
%small {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
%menu {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}
%small-icons-bigger {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
%slot-big {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-transform: capitalize;
}
%slot-small {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}
%banner {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
//
//  -------  PC / h
%h1 {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 76px;
}
%h2 {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 67px;
}
%h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}
%h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
//
//
//  --------------  Mobile
%M-blocks {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
%M-small-icons {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
%M-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
%M-small {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
%M-small-icons-bigger {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
%M-btn-main {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
}
%M-btn-small {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
//
//  -------  Mobile / h
%M-h2 {
  font-family: "Martel";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
}
%M-h3 {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
}
%M-h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
