@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
}
.logo {
  margin: 30px 0;
  display: inline-block;
}
.menu {
  display: flex;
  justify-content: space-between;
  &__main {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    margin: 0 15px;
  }
  &__link {
    @extend %menu;
    color: #fff;
  }
  &__btn-list {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  &__btn-item {
    margin-left: 10px;
  }
  &__button {
    background: $main;
    @extend %menu;
    color: $black;
    width: 173px;
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
  &__button--login {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 187, 54, 1);
    width: 129px;
    padding: 15px 40px;
    font-weight: 300;
  }
  &__button--sign-out {
    background: $additional-1;
    color: $gray1;
  }
}

.footer {
  background: $bg-main;
  text-align: center;
  &__top {
    background: $additional-1;
    display: flex;
    justify-content: center;
  }
  &__menu {
    height: 60px;
  }
  &__menu-list {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__menu-item {
    margin: 0 44px;
  }
  &__menu-link {
    @extend %menu;
    color: #fff;
  }
  &__main {
    margin: 30px 0 50px;
  }
  &__text {
    @extend %small;
    color: $gray1;
    max-width: 900px;
    display: inline-block;
  }
  &__text p {
    margin-bottom: 10px;
  }
}

.about {
  color: #fff;
  &__items-list {
    display: grid;
    grid-template-columns: 360px 380px 360px;
    margin-bottom: 60px;
    text-align: center;
  }
  &__item {
    padding: 0 20px;
  }
  &__item--special {
    padding: 0;
  }
  &__item-img {
    display: inline-block;
    margin-bottom: 30px;
  }
  &__item-title {
    @extend %small-icons-bigger;
    margin-bottom: 20px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: -11px;
      margin: 0 auto;
      width: 75px;
      height: 2px;
      background: $main;
    }
  }
  &__item-text {
    @extend %small;
  }
  &__text {
    @extend %blocks;
    margin-bottom: 50px;
    & p {
      margin-bottom: 10px;
    }
  }
}

.contact {
  &__inner {
    display: flex;
    justify-content: end;
  }
  &__img {
    position: relative;
    right: 53px;
    max-width: 650px;
    object-fit: cover;
  }
  &__form {
    min-width: 400px;
    height: 450px;
    margin-right: 105px;
  }
  &__form-title {
    @extend %h3;
    margin-bottom: 38px;
    text-align: center;
  }
  &__input,
  &__textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 214, 0, 1);
    border-radius: 5px;
    padding: 14px 11px;
    margin-bottom: 17px;
    color: #fff;
    &::placeholder {
      @extend %regular;
      color: $gray1;
    }
  }
  &__input {
    height: 50px;
  }
  &__textarea {
    resize: none;
    height: 150px;
    margin-bottom: 38px;
  }
  &__button {
    background: $main;
    @extend %menu;
    color: $black;
    width: 169px;
    height: 47px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
  }
}
