@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
}
.logo {
  margin: 30px 0;
  display: inline-block;
}
.menu {
  display: flex;
  justify-content: space-between;
  &__main {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    margin: 0 15px;
  }
  &__link {
    @extend %menu;
    color: #fff;
  }
  &__btn-list {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  &__btn-item {
    margin-left: 10px;
  }
  &__button {
    background: $main;
    @extend %menu;
    color: $black;
    width: 173px;
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
  &__button--login {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 187, 54, 1);
    width: 129px;
    padding: 15px 40px;
    font-weight: 300;
  }
  &__button--sign-out {
    background: $additional-1;
    color: $gray1;
  }
}

.footer {
  background: $bg-main;
  text-align: center;
  &__top {
    background: $additional-1;
    display: flex;
    justify-content: center;
  }
  &__menu {
    height: 60px;
  }
  &__menu-list {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__menu-item {
    margin: 0 44px;
  }
  &__menu-link {
    @extend %menu;
    color: #fff;
  }
  &__main {
    margin: 30px 0 50px;
  }
  &__text {
    @extend %small;
    color: $gray1;
    max-width: 900px;
    display: inline-block;
  }
  &__text p {
    margin-bottom: 10px;
  }
}
